.container {

  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  background-color: none !important;
}
.text_logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 50px;
}

.toolbar {
  display: flex;
  align-items: center;
  float: right;
}

.profile {
  display: flex;
  align-items: center;
}

.purple {
  background-color: #512da8;
}

.userName {
  margin-left: 10px;
}

.logout {
  margin-top: 3%;
  z-index: 1;

}
@media only screen and (max-width: 600px) {
 
 .text_logo img{
  height:80%;
  width:80%;
 }
 .toolbar {
  display: flex;
  align-items: center;
  float: right;
}

.profile {

  height:70%;
}


.userName {
  margin-left: 10px;
  font-size: x-small;
}

.logout {
  margin-top: 3%;
  z-index: 1;
  font-size: x-small;

}
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .text_logo img{
    height:90%;
    width:90%;
   }
}